.App {
  text-align: center;
  background-color:rgba(80, 99, 80, 0.618)
  
}
.data{width: 800px; display: flex; flex-direction: column; justify-content: space-between;}
.userbox{width: 600px;padding: 10px; background-color: beige;}
